<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="insertBoard">
        insert into CatInfo (CatName, CatGender, CatType, CatColor, CatOld, CatBirthday, CatPersonality, CatHealth) values
        (#{CatName} , #{CatGender} , #{CatType} , #{CatColor}, #{CatOld}, #{CatBirthday}, #{CatPersonality}, #{CatHealth})
    </insert>
    <update id="updateBoard">
        update CatInfo
        set CatName= #{CatName} , CatGender= #{CatGender} , CatType= #{CatType} , CatColor= #{CatColor}, CatOld= #{CatOld}, CatBirthday= #{CatBirthday}, CatPersonality= #{CatPersonality}, CatHealth= #{CatHealth} where CatID=#{CatID}
    </update>
    <delete id="deleteBoard">
        delete from CatInfo where CatID=#{CatID}
    </delete>
    <select id="getBoard" resultType="board">
        select * from CatInfo where CatID=#{CatID}
    </select>
    <select id="getBoardList" resultType="board">
        select * from CatInfo order by CatID desc
    </select>
</mapper>